<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Post</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>View Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
        <p>Become one with the dough.</p>
        <div class="subgroupTitle"><p>From /<%= post.subgroup %></p> </div>
        <div class="individualPost">
          <div><%= post.title %></div>
          <div><%= post.description %></div>
          <div>Sauce: <a href= <%=post.link%>><%= post.link %> </a></div>
          <div><br>Posted by <%= post.creator.uname %>
            at <%= new Date(post.timestamp) %></div>
          </div>
          <% if (user) { %>
          <% if (post.creator.id === user.id) { %>
            <a role="button" href="/posts/edit/<%=post.id %>">Edit post</a>
            <% } %>
            <% } %>
          Votes: <% var temp =0;%> <% post.votes.forEach(v=> {temp += v.value});%><%= temp %>
        <div class="comments">
          <br><h5>Comments</h5>
          <% post.comments.forEach(com => { %>
            User <%= com.creator.uname %> says:<br>
            <%= com.description %><br>
            <%= new Date(com.timestamp) %><br><br>
            <% }) %>
        </div>
        <div>
        <div class="create">
          <% if (!user) { %>
            Please <a href="/auth/login">Login</a> to create or comment on posts.
          <% } else { %>
            <form action="/posts/comment-create/<%=post.id %>" method="post">
              <input type="text" name="comment" id="comment" placeholder="Write comment here" />
              <button type="submit">Post Comment</button>
            <a role="button" href="/posts/create/?sub=<%=post.subgroup %>">Create new post</a>
          <% } %>
        </div>
      </div>
      </div>
    </main>
  </body>
</html>
