<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Post</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>View Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
        <p>Become one with the dough.</p>
        <div class="subgroupTitle"><p>From /<%= post.subgroup %></p> </div>
        <div class="individualPost">
          <div><%= post.title %></div>
          <div><%= post.description %></div>
          <div>Sauce: <a href= <%=post.link%>><%= post.link %> </a></div>
        </div>
        <div><p></p></div>
        <div class="create">
          <% if (!user) { %>
            Please <a href="/auth/login">Login</a> to create posts.
          <% } else { %>
            <a role="button" href="/posts/create/?sub=<%=post.subgroup %>">Create Post</a>
          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
